#header{
      .navbar{
            padding: 0;
      }
      background-color: $color-blue-100;
      a{
            color: $color-dark-white ;
            padding: $pd-3 $pd-4;
            border-right:  $border-1 ;
            border-left:  $border-1 ;
            font-size:1.4rem;
      }
      .navbar > a:first-child{
            padding: 0 $pd-4;
      }
}
.no-border{
      border: 0!important;
}